<%= render "navbar" %>
<div class = "container rounded-5 card col-sm-4 my-4 p-4">
    <h2 class="text-center">Login</h2>
    <div class = "mb-3">
        <%= form_with url: sign_in_path do |form| %>
            <div class = "mb-3">
                <%= form.label :username %> 
                <%= form.text_field :username, class: "form-control", placeholder: "Username" %>
            </div>

            <div class = "mb-3">
                <%= form.label :password %> 
                <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
            <div class = "d-flex justify-content-center align-item-center">
                <%= form.submit "Log In", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>