
<% if Current.user.role == false%>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <%= link_to 'Gift Card', giftcard_path, class:"navbar-brand"%>>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to 'New Orders', new_order_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Order History', order_history_path, class: 'nav-link' %>
        </li>
    </ul>
    <ul class = "navbar-nav ns-auto mb-2 mb-lg-0 ">
      <% if Current.user %>
        <li class = "nav-items">
          <span class = "nav-link"><%= Current.user.email %></span>
        </li>
        <li class = "nav-tems">
          <%= button_to "Logout", logout_path, method: :delete, class:"btn btn-danger" %>
        </li>
      <%end%>
    </ul>
    </div>
  </div>
</nav>
<%else%>
<%= render "adminpage/navbar"%>
<%end%>